/* Global */

:root {
    --button-primary: #0ad4fa;
    --button-secondary: #2f2c3d;
    --user-name: #616161;
    --header-background: #ffffff;
    --main-background: #f9f9f9;
}

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: var(--main-background, lightgrey);
}

/* Header */

.userNameInfo{
    height: 80px;
    background-color: var(--header-background, white);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.userName{
    font-size: 1.5em;
    margin: .5rem;
    color: var(--user-name, gray);
    line-height: 48px;
    letter-spacing: -0.15px;
}

.switch-btn{
    margin: 0.5rem 0.5rem;
    width: 8rem;
    border: none;
    border-radius: 100px;
    font-size: 1.5em;
    color: #fff;
    background-color: var(--button-primary, aqua);
}

.switch-btn:hover{
    background-color: var(--button-secondary, black);
}

.switch-btn:focus{
    outline: none;
}

.imageHeader{
    width: 10em;
    height: 10em;
}

.container-header{
    padding: 2rem;
    display: flex;
    width: 100%;
    height: 30vw;
    background-image: url(./assets/header.png);
    background-size: cover;
}

.title-header{
    color: #fff;
    align-self: center;
    font-size: 5em;
    font-weight: bold;
}

.button-headerCoins{
    padding: 0 .5rem 0 .7rem;
    margin: .5rem;
    font-size: 1.5em;
    border: none;
    background-color: #f0f0f0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.button-headerCoins img {
    margin-left: 10px;
    margin-top: 3px;
}

.button-headerCoins:focus{
    outline: none;
}

/* Cards Container */

.sort-options{
    margin: 1em 0 1em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sort-options h4 {
    margin-bottom: 0;
    font-size: 24px;
    color:#a3a3a3;
    letter-spacing: -0.15px;
    line-height: 48px;
}

.sort-option-btn.active{
    background: var(--button-primary, aqua);
    color: #fff;
    outline: none;
}

.sort-option-btn {
    padding: .5rem 1rem;
    margin: 0 .5em;
    color: #a3a3a3;
    background-color: #ededed;
    border-radius: 100px;
    border: 0;
    height:48px;
}

.sort-option-btn:focus{
    outline: none;
}

hr {
    background-color: a3a3a3;
}

/* Pagination arrows */

.arrows{
    margin-bottom: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
}

.arrow-btn{
    border: none;
    background: none;
    margin: 0 .5rem;
}

.arrow-btn:focus{
    outline: none;
}

.btn-p{
    color:#616161;
    margin: 0 1rem 0 0;
}

/* Cards Styling */

.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.card {
    padding: 1em;
    box-shadow:2px 2px 4px 0 rgba(0,0,0,0.10);
    width: 18rem;
    border-radius: 0;
}

.card:hover{
    box-shadow: 3px 3px 5px 0px #919191;
    background-color: #fdfdfd;
    z-index: 1000;
    border: #0ad4fa;
    opacity: 1;
}

.card-hovered{
    position: absolute;
}

.img-hovered{
    opacity: 0.6
}

.buttons-card-hovered{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity:0.8;
    background:#616161;
    border-radius:100px;
    color: #fff;
    padding: .3rem;
}

.buy{
    width: 1.75em;
    height: 1.75em;
    margin-left: .25em;
    margin-top: -.25em;
}

.card-cost{
    margin-left: 0.3em;
    margin-top: 0.20em;
}

.coin{
    margin-left: 0.2em;
}

.btn-dark{
    border-radius: 25px;
    font-size: larger;
    background: #0ad4fa;
    border: 1px solid #0ad4fa
}



.successRedeem{
    text-align: center;
    font-weight: 600;
    font-size: 1em;
}

#closeSuccessRedeeem{
    grid-area: closeSuccessRedeeem;
    color: #fff;
}

@keyframes rotateIn {
    0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
    }
    100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    }
}

.emojis-modal{
    justify-self: center;
    width: 9em;
    height: 9em;
    animation: rotateIn 2s ease alternate;
}

.product-modal-div{
    grid-area: product-modal-div;
    display:grid
}

.product-modal, .product-modal-failed {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: #fff;
    background-image: linear-gradient(315deg,#03e9b7,#63e72f);
    display: grid;
    grid-template-columns: 10% 70% 10%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "... ... closeSuccessRedeeem"
    "... product-modal-div ... ";
    justify-content: center;
}

#modal-failed{
    background-image: linear-gradient(0deg, rgba(252,101,0,1) 0%, rgba(245,75,4,1) 51%, rgba(246,7,7,1) 100%);
}

/* Add Coins */

.modal-screen {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(70,70,70,.7);
}

.addCoins{
    width: 90%;
    max-width: 700px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 1rem 1rem 2rem;
    margin: 5rem auto 0;
    position: relative;
    z-index: 1000;
    display: grid;
    grid-template-columns: auto auto auto 5%;
    grid-template-rows: 10% 25% auto;
    grid-template-areas: 
    "... ... ... closeAddCoins"
    "title-addCoins ... ... ..."
    "buttonAddCoins1 buttonAddCoins2 buttonAddCoins3 ...";
    
}

.successAddPointsDiv{
    width: 50%;
    margin-left: 25%;
}

.button-addCoins{
    justify-self: center;
    width: 10em;
    height: 4em;
    margin-left: 1.1rem;
    margin-top: 1rem;
    border: none;
    color: #2f2c3d;
    background-color: #fff;
    box-shadow: 3px 3px 5px 0px #919191;
    font-size: 1.2rem;
    font-weight: 700;   
}

.button-addCoins:focus{
    outline: none;
}

.one{
    grid-area: buttonAddCoins1;
}

.two{
    grid-area: buttonAddCoins2;
}

.three{
    grid-area: buttonAddCoins3;
}

.close{
    grid-area:closeAddCoins;
    width: 2em;
    height: 2em;
    padding: 0;
    border: none;
    background: none;
}

.title-addCoins{
    grid-area: title-addCoins;
    padding-left: 1em;
    align-self: center;
}

.successEnabled{
    display: contents;
}

.successDisabled{
    display: none;
}

.successAddPoints{
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #15DBFF;
    border-radius: 8px;
    
}

.successAddPoints:hover{
    -webkit-box-shadow: 4px 5px 13px 3px rgba(0,0,0,0.5); 
    box-shadow: 4px 5px 13px 3px rgba(0,0,0,0.5);
}

.success-p{
    color: #fff;
    padding-left: 0.2em;
    font-size: 24px;
}

/* Redeems */

.product-history-container{
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}